.cut .vertical {
    left: 0;
}

.cut .vertical.forward,
.cut .vertical.active.leave.back {
    top: 100%;
}

.cut .vertical.back,
.cut .vertical.active.leave.forward {
    top: -100%;
}

.cut .vertical.active.back,
.cut .vertical.active.forward,
.cut .vertical.back.enter,
.cut .vertical.forward.enter {
    top: 0;
}

.shop {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
